* {
    box-sizing: border-box;
}

html {
    font-family: 'DM Sans', sans-serif;
}

body {
    margin: 0;
    background-color: var(--gray1);
    color: var(--gray3);
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: .5em 0;
    font-family: 'Playfair Display', serif;
    color: var(--clr1);
}

p {
    margin: 0 0 1em;
}

a {
    color: unset;
    text-decoration: none;
}

img,
embed,
video,
object {
    max-width: 100%;
}

.debug * {
    outline: 1px solid gold;
}