.main-layout {
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 2em;
}

.home-page,
.about-us {
    max-width: 900px;
    margin: 4em auto;
    padding: 2.5em;

    background-color: var(--surface);
    border: 1px solid var(--border);
    border-radius: 8px;
}

.home-page {
    text-align: center;
}