.user-msg {
    position: fixed;

    right: 1em;
    bottom: 1em;

    padding: .8em 1.2em;

    background-color: var(--gray3);
    color: white;

    border-radius: 6px;

    font-weight: 600;
}

.user-msg.success {
    background-color: #39745a;
}

.user-msg.error {
    background-color: #39745a;
}

.user-msg button {
    margin: 0 0 0 1em;
    padding: .2em .5em;
}