:root {
    --clr1: #22313b;
    --clr2: #176543;

    --clr1bg: #e9eef0;
    --clr1bg-light: #f4f7f8;

    --clr2bg: #f2ddd5;
    --clr2bg-light: #faf0ec;

    --gray1: #f6f4ef;
    --gray2: #888;
    --gray3: #262626;

    --surface: #ffffff;
    --border: #ddd9d2;
}